
.oval,
div {
	display: grid;
	height: 16%;
	width: 30%;
	margin:auto;
	background-color: gold;
	border-radius: 50px;
	margin: auto;
	color: black;
	text-align: center;
}

#pozdrav {
	background-color: limegreen;
}